.container{
display: flex;
align-items: center;
justify-content: center;
position: relative;}
#cat1
{	max-width: 550px;
	margin-right: 30px;
	border:3px solid black;
	margin-top: 20px;	
}

p{
	margin-top: 30px;

}
h2{
	text-align: center;
	color: #563016;
	margin-top: 20px;
}

h1{
	border-collapse: separate;
	border-spacing: 15px 50px;
	border-bottom: 1px solid #650B0B;
	margin-top: 20px;
	color: #6E2661;
}
#nav1{grid-area: header;
}
#item2 { grid-area: main; }
#item3 { grid-area: footer; }
}
#box {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'main main'
    'footer footer footer footer footer footer';
  grid-gap: 10px;
  background-color:aqua;}
.navbar-brand{
	padding: 0;
	
}
.btn-primary{
	
    position: absolute;
   margin-left: 0;
    display:inline-block;
}
#nav1{
	width: 100%;
	padding: 0;

}

.nav-link{
	margin: 0 25px;
	font-size: 18px;
}
nav{
	height: 93px;
}

#search:active{
	background-color: blue;
}
#item3{
	margin:100px 0 0;

}

.copy{
	font-family: Proxima;
	font-weight: 300;
	font-size: 15px;
	color:#F6FAFC;
	margin-top: 5px;
}
.socials{
	display: flex;
	
}
.socials a{
	display: block;
	height: 45px;
	width: 45px;
	background:#FFF;
	border-radius: 50%;
	margin:7.5px;
	color: #951BC8;
	justify-content: center;
	display: flex;
	align-items: center;
	font-size: 14px;
	text-decoration: none;
}
.footer-nav li{
	display: inline-block;
	margin-top: 25px; 

}
.footer-nav a{
	text-decoration: none;
	color: #fff;
	padding:  18px;
	font-weight: bold;
	font-size: 14px;
	
}

.wrapper{
	display: flex;
	justify-content: space-around;
	align-items: center;}
#item3{
	
	width: 100%;
	background-color:#212529;
	;

}


#more{
	
	float: left;
	width: 170px;
	height: 42px;
	background: transparent;
	color: #3A0C2F;
	font-size: 14px;
	font-family: ARIAL;
	
	border:1px solid #2A0F6F;
	border-radius: 5px;
	outline: none;
	text-align: center;
	margin: 0 auto;
	
}
    /* Ensure component is mounted before update */
