
body{
	margin: 0;
}
.container{
	font-size: 30px;
	font-weight: bold;
	
}
.box-1{
	height: 400px;
	width: 60%;
	background-color: red;
	float: left;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-2 ,.box-3{
	height: 200px;
	width: 40%;
	float:right;
	display: flex;
	justify-content: center;
	align-items: center;
}
.box-2 {
background-color: #E6A822;

}
.box-3{
	background-color: blue;

}    /* Handle async operation error */
