<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js" integrity="sha256-+Q/z/qVOexByW1Wpv81lTLvntnZQVYppIL1lBdhtIq0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <title>LIVESTREAM</title>
  </head>
  <body>
    <div class="background">
    <div class="transbox">
    <header>
        <section class="top-bar">
            <div class="container-fruid">
                <div class="row justify-content-center">
                    <div class="col">

                    </div>
                    <div class="col">
                        
                            <div class="logo text-center">
                                <img src="../image/Chillhop_white.svg" alt="logo">
                            </div>
                        
                    </div>
                    <div class="col">
                        <div class="login float-right">
                            <img src="../image/icon-racon.svg" alt="login">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="nav-bar">
            <div class="container">
                <div class="grid">
                    <div class="navbar-menu">
                        <ul class="menu">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">RELEASES</a></li>
                            <li><a href="#">CONTACT US</a></li>
                            <li><a href="#">LIVESTREAM</a></li>
                            <li><a href="#">TUTORIALS</a></li>
                        </ul> 
                    </div>
                    <form class="search form-inline">
                        <input id="searchbox" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                          aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>
            </div>
        </section>
     </header>
     <main class="containerbg-light">
         <div class="container grid">
           <div class="livestream-youtube">
            <iframe class="livestream-video"  src="https://www.youtube-nocookie.com/embed/7NOSDKb0HlU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
           </div>
           <iframe referrerpolicy="origin" src="https://gaming.youtube.com/live_chat?v=7NOSDKb0HlU&amp;embed_domain=daoninhthai.github.io" frameborder="0" id="chat-embed" data-gtm-yt-inspected-6039924_30="true"></iframe>
         </div>
         










     </main>
    <footer class="container-fruid">
        <div class="container grid">
            <div class="menu-footer">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">RELEASES</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">LIVESTREAM</a></li>
                    <li><a href="#">TUTORIALS</a></li>
                </ul>
            </div>
            <div class="social-icon">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-soundcloud"></i></a>
                <a href="#"><i class="fab fa-itunes"></i></a>
                <a href="#"><i class="fab fa-spotify"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
                <a href="#"><i class="fab fa-vk"></i></>

            </div>
            <div class="textwidget-left">
                <a href="#"><i class="fas fa-comments"></i>  Talk to Us</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="textwidget-right">
                © 2020 CHILLHOP MUSIC B.V.
            </div>
        </div>
        
    </footer>
        

    
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>

</body>
</html>    <!-- Handle async operation error -->
