<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/js/all.min.js" integrity="sha256-+Q/z/qVOexByW1Wpv81lTLvntnZQVYppIL1lBdhtIq0=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="stylesheet" href="../css/header.css">
    <link rel="stylesheet" href="../css/footer.css">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.css" integrity="sha256-UK1EiopXIL+KVhfbFa8xrmAWPeBjMVdvYMYkTAEv/HI=" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.min.css" integrity="sha256-4hqlsNP9KM6+2eA8VUT0kk4RsMRTeS7QGHIM+MZ5sLY=" crossorigin="anonymous" />
    <title>Hello, world!</title>
  </head>
  <body>
    <div class="background">
    <div class="transbox">
    <header>
        <section class="top-bar">
            <div class="container-fruid">
                <div class="row justify-content-center">
                    <div class="col">

                    </div>
                    <div class="col">
                        
                            <div class="logo text-center">
                                <img src="../image/Chillhop_white.svg" alt="logo">
                            </div>
                        
                    </div>
                    <div class="col">
                        <div class="login float-right">
                            <img src="../image/icon-racon.svg" alt="login">
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="nav-bar">
            <div class="container">
                <div class="grid">
                    <div class="navbar-menu">
                        <ul class="menu">
                            <li><a href="#">HOME</a></li>
                            <li><a href="#">BLOG</a></li>
                            <li><a href="#">RELEASES</a></li>
                            <li><a href="#">CONTACT US</a></li>
                            <li><a href="#">LIVESTREAM</a></li>
                            <li><a href="#">TUTORIALS</a></li>
                        </ul> 
                    </div>
                    <form class="search form-inline">
                        <input id="searchbox" class="form-control form-control-sm mr-3 w-75" type="text" placeholder="Search"
                          aria-label="Search">
                        <i class="fas fa-search" aria-hidden="true"></i>
                    </form>
                </div>
            </div>
        </section>
     </header>
    <main>
        <section class="single-title container grid">
            <div class="date">
                <label class="post-type">RELEASE</label>
                <label>06</label>
                <label>JUL</label>
                <label>2020</label>
            </div>
            <div class="title-holder">
                <a href="#" class="title-holder1">RELEASES</a>
                <h1>Litte Spirit</h1>
                <h2>Delayde</h2>
                <div class="bottom-btn">
                    <a href="#" class="btn btn-danger">STREAM / BUY</a>
                    <a href="#" class="btn btn-success">SAVE</a>
                    <a href="#" class="btn btn-light" > <i class="fas fa-share"></i></a>
                </div>
            </div>
        </section>
        </div>
        </div>

       
        <div class="container-fruid bg-light">
            <section class="releases-page-content singer container">
                <div class=" slick-artists releases-page-slick" >
            
                    <div class="artists-logo">
                        <img src="../image/8aa6fe36363e0fd565d4f33c2504503f8361774c.jpeg" alt="">
                        <a href="#"><h3>ødyssee</h3></a>
                        <a  href="#" class="follow"><i class="fas fa-plus-circle"></i></a>
                    </div>
                    <div class="artists-logo">
                        <img src="../image/5643bbfdcfc19359a51ad7f2740bc538ce10b5ec.jpeg" alt="">
                        <a href="#"><h3>Aso</h3></a>
                        <a href="#" class="follow"><i class="fas fa-plus-circle"></i></a>
                    </div>
                    <div class="artists-logo">
                        <img src="../image/64481e4f50732f34db179fc0c71aee9d9988624c.jpeg" alt="">
                        <a href="#"><h3>Olukara</h3></a>
                        <a href="#" class="follow"><i class="fas fa-plus-circle"></i></a>
                    </div>
                    <div class="artists-logo">
                        <img src="../image/6b0bf0377a17d6e0f15e83a81f66e6f57914a2f5.jpeg" alt="">
                        <a href="#"><h3>Devaloop</h3></a>
                        <a href="#" class="follow"><i class="fas fa-plus-circle"></i></a>
                    </div>
                    
                </div>
                <div class="info-singer">
                    <p>
                        Felty and friends connect for the three song EP Movement.
                        Featuring G Mills, Blue Wednesday and Ezzy, Felty builds a lucid daydream full of laid-back instrumentation, steady bounce and lofi undertones.
                        Like the Jodie Howard artwork implies: a campout with the sky, a night with the stars.
                        If only for a short while. Illustration/animation by Jodie Howard. 
                    </p>
                </div>
                <section class="container">
                <div class="grid">
                    <div class="song-img">
                        <img src="../image/1a.jpg" alt="">
                    </div>
                    <div class="available-on-medias">
                        <h3>AVAILABLE ON</h3>
                        <a href="#"><img src="../image/social/spotify 1.png" alt=""></a>
                        <a href="#"><img src="../image/social/apple-music.svg" alt=""></a>
                        <a href="#"><img src="../image/social/bandcamp.svg" alt=""></a>
                        <a href="#"><img src="../image/social/youtube.svg" alt=""></a>
                        <a href="#"><img src="../image/social/deezer.svg" alt=""></a>
                        <div class="btn-medias">
                            <a href="#" class="btn btn-success">SAVE</a>
                            <a href="#" class="btn btn-danger">LISTEN NOW</a>
                        </div>
                    </div>

                </div>
                <div class="playlist-in-album grid">
                    <img src="../image/95db7c54097f0d6a1b0b620d671d2833.jpg" alt="">
                    <div class="name-song">
                        <p>Yesterday</p><small>Mo Anando</small>
                    </div>
                    <div class="right-more">
                        <p>02:16</p>
                        <i class="fa fa-heart single-fa"></i>
                        <i class="fab fa-spotify"></i>
                        <i class="fa fa-ellipsis-h"></i>
                    </div>
                </div><hr>
                <div class="subscribe">
                    <div class="">
                        <h2 class="grayline">
                            STAY UPDATED            </h2><hr id="grayline">
                        <p class="under-grayline">
                            Subscribe to our newsletter<br>and receive the latest news!
                        </p>
                    </div>
                    <div class="Subscribe-btn">
                        <a href="#" target="_blank" class="btn btn-lg btn-primary">
                           Subscribe
                        </a>
                    </div>
                </div>
            </section><hr>
            <section class="container more">
                <div class="sub-h2">
                    <h2>MORE ?</h2>
                    <a href="#">All releases</a>
                </div>
                <div class="list-box2 grid">
                    <div class="list-item2">
                        <a href="#">
                            <img src="../image/list-box2/7ba352cafecae63aa3f09a52e125ea615d2c1f9b-1024x1024.jpg" alt="">
                            <div class="overlay"><h3>Endless Sunday Vol. 1</h3></div> 
                            
                        </a>

                    </div>   
                    <div class="list-item2">
                        <a href="#">
                            <img src="../image/list-box2/b6e48e6cfb2a90723b9cf1b108a6d305f9204eb4-1024x1024.jpg" alt="">
                            <div class="overlay">
                                <h3>Yesterday</h3>
                                <p>Mo Anando</p>
                            </div>
                            
                        </a>
 
                    </div>  
                    <div class="list-item2">
                        <a href="#">
                            <img src="../image/list-box2/ff35dede32321a8aa0953809812941bcf8a6bd35-1024x1024.jpg" alt="">
                            <div class="overlay">
                                <h3>Reflection</h3>
                                <p>Swørn</p>
                            </div>
                            
                        </a>

                    </div>  
                    <div class="list-item2">
                        <a href="#">
                            <img src="../image/list-box2/ae91385fc2d92e40dd4bf337867dee16fb5648d2-1024x1024.jpg" alt="">
                            <div class="overlay">
                                <h3>Vinho Verde</h3>
                                <p>Clap Cotton</p>
                            </div>
                            
                        </a>

                    </div>  

                </div>


            </section>

            </section> 
            
        </div>
       
        
    </main>
    <footer class="container-fruid">
        <div class="container grid">
            <div class="menu-footer">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">BLOG</a></li>
                    <li><a href="#">RELEASES</a></li>
                    <li><a href="#">CONTACT US</a></li>
                    <li><a href="#">LIVESTREAM</a></li>
                    <li><a href="#">TUTORIALS</a></li>
                </ul>
            </div>
            <div class="social-icon">
                <a href="#"><i class="fab fa-youtube"></i></a>
                <a href="#"><i class="fab fa-twitter"></i></a>
                <a href="#"><i class="fab fa-facebook-square"></i></a>
                <a href="#"><i class="fab fa-instagram"></i></a>
                <a href="#"><i class="fab fa-soundcloud"></i></a>
                <a href="#"><i class="fab fa-itunes"></i></a>
                <a href="#"><i class="fab fa-spotify"></i></a>
                <a href="#"><i class="fab fa-discord"></i></a>
                <a href="#"><i class="fab fa-vk"></i></>

            </div>
            <div class="textwidget-left">
                <a href="#"><i class="fas fa-comments"></i>  Talk to Us</a>
                <a href="#">Privacy Policy</a>
            </div>
            <div class="textwidget-right">
                © 2020 CHILLHOP MUSIC B.V.
            </div>
        </div>
        
    </footer>
        

    
<!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" integrity="sha256-NXRS8qVcmZ3dOv3LziwznUHPegFhPZ1F/4inU7uC8h0=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        $('.slick-artists').slick({
        dots: false,
        infinite: true,
        speed: 300,
        slidesToShow: 7,
        slidesToScroll: 4,
        centerMode: false,
        variableWidth: true,
        responsive: [
    {
        breakpoint: 1024,
        settings: {
        slidesToShow: 5,
        slidesToScroll: 5,
        infinite: true,
        dots: false
      }
    },
    {
        breakpoint: 600,
        settings: {
        slidesToShow: 3,
        slidesToScroll: 3
      }
    },
    {
        breakpoint: 480,
        settings: {
        slidesToShow: 3,
        slidesToScroll: 3
      }
    }
  ]
});
	

        
      </script>
</body>
</html>