/*footer*/
footer{
    padding-top: 40px;
    padding-bottom: 40px;
}
.menu-footer{
    grid-column: 1/7;
    display: inline;
}
.menu-footer ul{
    display: flex;
    justify-content: flex-start;
    padding-left: 0;
    margin-top: auto;
    margin-bottom: auto;
}
.menu-footer ul li {
    margin-right: 20px;

    
}
.menu-footer ul li a{
    font-size: 13px;
    color: #fff;

}
.social-icon{
    grid-column: 9/13;
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-bottom: auto;
}
.social-icon a{
    margin-left: 12px;
    color: #fff;
    font-size: 20px;
    
}
.textwidget-left{
    grid-column: 1/4;
    display: flex;
    justify-content: flex-start;
}
.textwidget-left a{  
    font-size: 14px;
    color: #fff;
    padding-right: 20px;

}
.textwidget-left a:first-child{
    padding-right: 0px;
}
.textwidget-right {
    grid-column: 10/13;
    font-size: 14px;
    color: #999;
    display: flex;
    justify-content: flex-end;
}    /* Cache result for subsequent calls */
    /* Apply debounce to prevent rapid calls */
    /* Apply debounce to prevent rapid calls */
