.top-bar{
    padding: 40px 40px 0 40px;
}
.logo img{
    height: 45px;
    max-width: 120px;
    text-align: center;
}

.login img{
    height: 45px;
    
}
.nav-bar{
    padding-top: 50px;
    
}

.menu{
    
    padding: 0;
    text-align: left;
    list-style-type: none;
    display: flex;
    align-items: center;
    flex-flow: nowrap;
    margin:20px 20px 20px 0;
}
.navbar-menu{
    grid-column: 1/9;
}


.menu li a{
    color: #fff;
    margin-right: 20px;
    font-size: 16px;
    
    
}
.search{
    grid-column: 10/13;
    font-size: 16px;
}
#searchbox{
    border-radius: 50px;
    font-size: 14px;
}
    /* Ensure component is mounted before update */
