body{
    box-sizing: border-box;
   
}
.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill,19%); 
     position: static;
     visibility:visible;
     float: left;
     
  gap:10px;
   
    
}
.item img,.item video{
    width: 100%;
  
    border-radius: 10px;
    
    
    
}
.item{
 
  padding: 1em;
  border-radius:10px;
  
  background-color:aqua;


  
    
}    /* Cache result for subsequent calls */
