body,#slider,.wrap ,.slide-content{
	margin:0;
	padding: 0;
	width: 100%;
	height: 100vh;
	overflow-x:hidden; 

}
.slide{
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.slide1{
	background-image: url(images/1.jpg);

}
.slide2{
	background-image: url(images/2.jpg);
}
.slide3{
	background-image: url(images/3.jpg);
}
.slide4{
	background-image: url(images/4.jpg);
}
.wrap{
	display: flex;
	position: relative;
}
#arrow-left,#arrow-right{
	font-size: 50px;
	color: ;
}
.slide-content span{
	font-size: 4rem;
	color: aqua; 


}
.arrow{
	cursor: pointer;
	position: absolute;
	top: 50%;
	margin-top: -30px;
	width: 0;
	height: 0;
	border: solid;
}
.slide-content{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
}
#arrow-left{
	border-width: 30px 30px 30px 0;
	border-color: transparent white transparent transparent ;
	left:0;
	margin-left: 30px;


}
#arrow-right{
	border-width: 30px 0 30px 30px ;
	border-color: transparent transparent transparent white;
	right:0;
	margin-right: 30px;


}    /* Handle async operation error */
