.grid-container{
	display: grid;
	grid-template-columns: repeat(5,1fr);
	grid-template-rows: repeat(4,1fr);
	grid-gap: 10px;
	height: 100px;
	text-align: center;
	font-size: 20px;
	line-height: 100px;
	
	

}
.item1{
	grid-column: 1/3; 
	background-color: #852626 ;
	grid-row: 1/4;
}
.item2{
	grid-column:3/4;
	background-color: #6E9130 ;
	grid-row: 1/1;
}
.item3{
	grid-column: 4/5;
	background-color: #20C11C;
	grid-row: 1/1;
}
.item4{
	grid-column: 5/6;
	background-color: #F01010;
	grid-row: 1/1;
}
.item5{
	grid-column: 3/4;
	background-color: #693E0F;
	grid-row: 2/2;
}
.item6{
	grid-column: 3/4;
	background-color: #69a541;
	grid-row: 3/3
}
.item9{
	grid-column: 3/4;
	background-color: #245141;
	grid-row: 4/4;
}
.item7{
	grid-column: 1/1;
	background-color: #245da2;
	grid-row: 4/4;
}
.item8{
	grid-column: 2/3;
	background-color: #2475a2;
	grid-row: 4/4;
}
.item10{
	grid-column: 4/6;
	background-color: #124514;
	grid-row: 2/5;
}    /* Ensure component is mounted before update */
    /* Validate input before processing */
