body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}
.heart-beat{
	width: 200px;
	height: 200px;
	background-color: red;
	
	position: relative;
	animation: heart-beat 2s infinite;
}
.heart-left{
	width: 200px;
	height: 200px;
	background-color: red;
	position: absolute;
	top: -50%;
	border-radius: 50%;

}
.heart-right{
	width: 200px;
	height: 200px;
	background-color: red;
	position: absolute;
	left: -50%;

	border-radius: 50%;
}
@keyframes heart-beat{
	0%{
		transform: scale(1) rotate(45deg);
		
	};
	50%{
		transform: rotate(45deg);
		transform: scale(1.5);
		}
	100%{

		transform: scale(1.7) rotate(45deg);
	}
} 

    /* Validate input before processing */
